@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-mono: var(--font-geist-mono);
}

/* Example of tailwind customizations @forfaii may need to look into */
@theme {
    --font-sans: "Sarabun", "IBM Plex Sans Thai", sans-serif;

    --color-common-white: #ffffff;
    --color-common-black: #000000;

    --color-primary-950: #011319;
    --color-primary-900: #022b39;
    --color-primary-800: #044359;
    --color-primary-700: #025b79;
    --color-primary-600: #067399;
    --color-primary-500: #068cb7;
    --color-primary-400: #30a2c5;
    --color-primary-300: #5eb8d3;
    --color-primary-200: #8bcee1;
    --color-primary-100: #b8e4ef;
    --color-primary-50: #e7f9fe;

    --color-gray-950: #0c0e0e;
    --color-gray-900: #14191a;
    --color-gray-800: #1c2426;
    --color-gray-700: #262f32;
    --color-gray-600: #2f3a3d;
    --color-gray-500: #3a474b;
    --color-gray-400: #5f696c;
    --color-gray-300: #848b8f;
    --color-gray-200: #a9adb1;
    --color-gray-100: #cecfd3;
    --color-gray-50: #f1f3f4;

    --color-disable-contrasttext: #ffffff;
    --color-disable-darker: #323232;
    --color-disable-dark: #7c7c7c;
    --color-disable-main: #c4c4c4;
    --color-disable-light: #d6d6d6;
    --color-disable-lighter: #f1f3f4;

    --color-error-contrasttext: #ffffff;
    --color-error-darker: #5a1a1a;
    --color-error-dark: #7d2424;
    --color-error-main: #c53737;
    --color-error-light: #d97f7f;
    --color-error-lighter: #edc7c7;

    --color-warning-contrasttext: #ffffff;
    --color-warning-darker: #705b1a;
    --color-warning-dark: #c8a332;
    --color-warning-main: #f2c83d;
    --color-warning-light: #f6dc81;
    --color-warning-lighter: #faf0c5;

    --color-success-contrasttext: #ffffff;
    --color-success-darker: #1f4e22;
    --color-success-dark: #2b6c2f;
    --color-success-main: #42a647;
    --color-success-light: #86c689;
    --color-success-lighter: #cae6cb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}
